Actividad2/esquema.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE esquema>
[
<!ELEMENT concesionario (coche+)>
<!ELEMENT coches (codigo, marca, modelo, matricula, potencia, plazas, numero_puertas)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT numero_puertas (#PCDATA)>
]
>